@font-face {
font-family: 'poke font';
font-style: normal;
font-weight: normal;
src: local('poke font'), url('Pokemon Solid.ttf') format('truetype');
}

main {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	justify-content: center;
}
#title {
	text-align: center;
	font-family: 'poke font';
	font-size: 4rem;
	letter-spacing: 3px;
	color: #FFCC05;
	-webkit-text-stroke: 3px #375CA7;
	text-shadow: 1px 2px #1D2963;

	margin-top: 30px;
}
